body{
    width: 100%;
    height: calc(100vh - 50px);
}

.mapSection{
    margin: 10px 10px 10px 10px;
    height: 50%;
    width: 100%;
}
.tableSection{
    background-color: aliceblue;
}
.buttonSection{
    width: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.createButton{
    width: 90%;;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(172, 218, 202);
    width: 100%;
    height:60px;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  /* Style the links inside the navigation bar */
  
  /* Change the color of links on hover */
  
  /* Add a color to the active/current link */